.card{
    width: 80vw;
    background-color: #ece925;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50vw;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 23px;
    margin: 10px;
    color: black;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
.row{
    display: flex;
    justify-content: space-between;
}