div{
    display: flex;
    justify-content: space-between;
}
img{
    width: 70%;
    margin-left: 2em;
}
.card{
    width: 50vw;
    background-color: #ece925;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 23px;
    margin: 10px;
    color: black;
}
h1{
    justify-content: start;
}
button{
    background: none;
    border-color: black;
    border-radius: 5px;
    align-self: start;
    margin-left:15px;
    margin-bottom: 7px;
}
@media (max-width: 576px) {
    .card{
        width: 100%;
        height: 10%;
    }
    img{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}


