<div class="bg-dark text-light">
    <div class="row" >
        <div class="col-xs-12" id="copyright">
            <p> Copyright © 2022 </p>
            <p id="github">
                <img src="../../../assets/github.png">
                <a target="_blank" href="https://github.com/MacarenaRodriguez1993">GitHub </a>
                <a target="_blank" href="https://github.com/MacarenaRodriguez1993/pokedex">VerCodigo -> pokedex</a>
            </p>
            <p>Aplicacion diseñada por Macarena Rodriguez</p>
        </div>
    </div>
    
    
</div>