
#buscar{
    display:flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
}
.card{
    
    width: 200px;
    background-color: #ece925;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 23px;
    margin: 10px;
    color: black;
}
input{
    background-color: black;
}
.modal{
    color: black;
}
button{
    transition: 0.5s;
}
.favo{
    display: flex;
    align-items: center;
}
.id_poke{
    justify-content: space-between;
    margin-right: 20px;
}

.modal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body h1{
    margin-left: -100px;
}
#like{
    margin-top:-2px;
    width: 55%;
    height: 55%;
}
#imagenFavo{
    width: 20%;
}
#contador{
  margin-left: 5px;
  background: none;
  border: none;
}

button:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
img{
    width: 80%;
}


