
#buscar{
    display:flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
}
.card{
    width: 200px;
    background-color: #ece925;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 23px;
    margin: 10px;
    color: black;
}
input{
    width: 200px;
    height: 50px;
    background-color: black;
    color:aliceblue
}
.modal{
    color: black;
}
button{
    transition: 0.5s;
}
.favo{
    display: flex;
    align-items: center;
}
.id_poke{
    justify-content: space-between;
    margin-right: 20px;
}

.modal-content{
    background-color: rgb(43, 42, 42);
    color:aliceblue;
}

.modal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body h1{
    margin-left: -100px;
}

#imagenFavo{
    width: 20%;
}

#contador{
  margin-left: 5px;
  background: none;
  border: none;
  width: 70px;
  height: 60px;
  border-radius: 60%;
}
#botonLike{
    background-color: #ece925;
    border: none;
    font-size: x-large;
}

img{
    width: 80%;
}
@media (max-width: 576px) {
    .card{
        width: 180px;
    }
}


