<div class="container-fluid">
    <div id="buscar" >
        <input type="text" classa="form-control"
                placeholder="Buscar pokemon"
                name="filterPoke"
                [(ngModel)]="filterPoke">
        <button id="contador" data-bs-toggle="modal" data-bs-target="#favoritos">
            <svg id="favo"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            {{contador}}
        </button>
    </div>

    <div class="row">
        <div class=" col-xs-6 card" id="card"*ngFor="let poke of data | filter:filterPoke | paginate:{itemsPerPage: 12, currentPage: pages}">
            <div class="favo">
                <h5 class="id_poke">#{{poke.id}}</h5>
                <button (click)= "like(poke.id)" id="botonLike">
                    <svg [ngStyle]="{'color':poke.cora? 'red':'#adab1f'}"
                        xmlns="http://www.w3.org/2000/svg" 
                        width="28" height="28" fill="currentColor" 
                        class="bi bi-heart-fill"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                </button>
            </div>
            <h2>{{poke.name}}</h2>
            <img src="{{poke.imagen}}">
            <button class="btn btn-dark"(click)= "verDetalles(poke.id)"> ver detalles</button> 
        </div>
        
    </div>
</div>
<pagination-controls (pageChange)="pages = $event"></pagination-controls>
<app-footer></app-footer>

<div class="modal fade" id="favoritos" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Pokemons favoritos ♡ </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body" *ngFor="let poke of pokemon">
                <img id="imagenFavo"src="{{poke.imagen}}">
                <h1>{{poke.name}}</h1>
                <button type="button" id="eliminar" (click)= "eliminar(poke.id)">x</button>
            </div>
            <div class="modal-footer">
                <button type="button"class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>