
#buscar{
    display:flex;
    justify-content: center;
    margin: 15px;
}
.row{
    display: flex;
    justify-content: center;
}



.card{
    
    width: 200px;
    background-color: #ece925;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 23px;
    margin: 10px;
    color: black;
}
button{
    transition: 0.5s;
}
.favo{
    display: flex;
    align-items: center;
}
.id_poke{
    justify-content: space-between;
    margin-right: 20px;
}
svg{
    margin-top:-2px;
    width: 55%;
    height: 55%;
}
button:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
img{
    width: 80%;
}

